<template>
    <div>
        <h1>Count: {{ counter }} [{{ next }}]</h1>
        <button @click="counter++" jest="increment-button">+1</button>
    </div>
</template>

<script>
export default {
    props: {
        initialCounter: {
            type: Number,
            default: 0,
        }
    },
    data() {
        return {
            counter: this.initialCounter,
        }
    },
    computed: {
        next() {
            return this.counter + 1
        }
    }
}
</script>