<template>
    <div>
        <h1>CounterGlobal: {{ counter }} / [{{ next }}]</h1>
        <button @click="increment" jest="increment-button">+1</button>
    </div>
</template>

<script>
import { mapGetters, mapMutations, mapActions } from 'vuex'

export default {
    props: {
        initialCounter: {
            type: Number,
            default: 0,
        }
    },
    computed: {
        ...mapGetters({
            counter: 'getCounter',
            next: 'getNextCounter',
        })
    },
    created() {
        this.setCounter({ counter: this.initialCounter })
    },
    methods: {
        ...mapMutations([
            'setCounter',
        ]),
        ...mapActions({
            incrementGlobalCounter: 'increment',
        }),
        increment() {
            this.incrementGlobalCounter()
                .then((value) => console.log(`Global counter updated. New value: ${value}`))
                .catch(() => console.error('Failed to update global counter.'))
        }
    }
}
</script>