<template>
    <div>
        <h1>User:</h1>
        <pre>{{ user }}</pre>
    </div>
</template>

<script>
import axios from 'axios'

export default {
    data() {
        return {
            user: {},
        }
    },
    created() {
        axios.get('/api/user')
            .then(({ data }) => this.user = data)
            .catch((error) => console.error(error))
    }
}
</script>