<template>
    <div>
        <h1>UserGlobal:</h1>
        <pre>{{ user }}</pre>
    </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
    computed: {
        ...mapGetters({
            user: 'getUser'
        })
    },
    created() {
        this.loadUser()
            .then(() => console.log('success'))
            .catch(() => console.log('failure'))
    },
    methods: {
        ...mapActions({
            loadUser: 'loadUser'
        })
    }
}
</script>