<template>
    <div>
        <span class="message">Hello</span>
        <span class="content">{{ content }}</span>
        <br>
        <input :class="{ clicked }" dusk="toggle" type="submit" name="toggle" @click="toggle" value="Toggle"/>
    </div>
</template>

<script>
import { setTimeout } from 'timers';
export default {
    data() {
        return {
            content: 'World',
            clicked: false,
        }
    },
    methods: {
        toggle() {
            this.clicked = true
            setTimeout(() => {
                this.clicked = false
                this.content = (this.content === 'World') ? 'Universe' : 'World'
            }, 500)
        }
    }
}
</script>

<style scoped>
.content {
    font-weight: bold;
    font-size: 2em;
    color: #42b883;
}
input {
    border: 1px solid rgba(222, 222, 222);
    border-radius: 4px;
    outline: none;
}
.clicked {
    border: 2px solid rgba(0, 0, 255, 0.5);
}
</style>

