<template>
    <div>
        <counter :initial-counter="7"></counter>
        <counter-global :initial-counter="3"></counter-global>
        <user></user>
        <user-global></user-global>
    </div>
</template> 

<script>
import Counter from '../Counter'
import CounterGlobal from '../CounterGlobal'
import User from '../User'
import UserGlobal from '../UserGlobal'

export default {
    components: { 
        Counter, 
        CounterGlobal, 
        User, 
        UserGlobal 
    }
}
</script>
